form.lbox-form {
  margin: 25px auto;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff; }

.lbox-form .field > .row:not(:first-of-type) {
  margin-top: 15px; }
