$lemonbox-background: #333;

body.lemonbox {
	
	#wpcontent {
		margin-left: 160px;
	}

	#wpwrap,
	#wpbody,
	#wpbody-content {
		background-color: $lemonbox-background;
	}

	#wpbody-content {
		padding: 15px;

		h2 {
			color: #fff;
		}
	}

	#adminmenuwrap {
		height: 100%;
	}

	ul#adminmenu > li.current > a.current:after {
		border-right-color: $lemonbox-background;
	}

	* {
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
}

#lemonbox-menu {
	width: 100%;
	height: 60px;
	background-color: transparent;
}

#lemonbox-forms {
	padding-left: 15px;
}

#lemonbox-wrapper {

	form { 
		width: 400px;
	}

}

.lemonbox-form {
	
}

.lemonbox-fields {
	
	h2 {
		margin: 0 0 7px;
	}
	
	background-color: #f4f4f4;
	padding: 20px;
	width: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	* {
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	> li {
		display: block;
		background-color: transparent;
		margin-left: 0 !important;

		&.no-label label {
			display: none;
		}

		span {
			display: block;

			&.callout {
				font-size: 24px;
			}

		}

		&.credit-card {

			input[name="card_number"] {
                width: 100%;
            }

		}

		.cost {
			margin: 14px 0 20px;
		}

		&.checkbox {

			input {
				float: left;
				width: inherit;
				margin-right: 7px;
			}

			label {
				margin: 0;
			}

		}
	}


	p {
		margin: 12px 0 !important;
		padding: 0;
	}

	.title label {
		font-weight: 200;
		font-size: 20px !important;
		text-transform: uppercase;
	}

	input,
    select,
    textarea {
        display: block;
        border: none;
        padding: 10px;
        font-family: inherit;
        font-size: 14px;
        width: 100%;
        border-radius: 0;
        margin: 0 0 4px;
        color: #666;
        -webkit-appearance: none;
  		-webkit-border-radius: 0px;

        &:focus {
        	outline: none;
        	background-color: #555;
        	color: #f4f4f4;
        }

        &.error {
        	border: 1px solid red;
        }
        
    }

    button {
    	border-radius: 0;
    	-webkit-border-radius: 0;
    	-moz-border-radius: 0;
    	width: 100%;
    	font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		padding: 10px;
		margin-top: 15px;
		background-color: #333;
		border: none;
		outline: none;

		&:hover {
			background-image: none;
			background-color: #555;		
			color: #f4f4f4;
		}
    }

    label {
    	margin: 7px 0;
		font-weight: 500;
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #888;
    }

    div.flex {
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */ 
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;  /* NEW, Chrome 21+ */
        display: box;
        display: flex;
        margin-bottom: 10px;

        > input,
        > select,
        > textarea,
        > div {
            margin: 10px 10px 0 0;
            -webkit-box-flex: 1;
            box-flex: 1;
            flex: 1;
        }

        > input:last-of-type,
        > select:last-of-type,
        > textarea:last-of-type,
        > div:last-of-type  {
            margin-right: 0;
        }

    }

}

ul.table {
	width: 100%;
	list-style: none;
	padding: 0;
	margin-left: 0;
	text-align: left;
	display: table;
	table-layout: fixed;

	> ul {
		list-style: none;
		padding: 0;
		margin-left: 0;
		width: 100%;
		display: table-row;
	}

	li {
		vertical-align: middle;
		display: table-cell;
		background-color: #fff;
		padding: 10px 15px;
	}

}