$background-main: #fff;

.form-action,
.field-action {
	
	cursor: pointer;
	display: inline-block;
	float: none;
	padding: 7px 10px;
	border: 1px solid #CCC;
	background-color: #333;
	color: #fff;
	min-width: 90px;
	margin: 0;
	text-align: center;
	text-decoration: none;

	&.active {
		
	}

	&.new-form {
		position: absolute;
		top: 23px;
		left: 90px;
	}
}

h3.form-title {
	text-transform: uppercase;
	color: #eee;
	font-weight: 300;
}

.lemonbox-fields {
	position: relative;
	float: none;

	&.edit {

		li {
			cursor: pointer;
			padding: 10px;

			&:hover {
				background-color: darken( $background-main, 10% );
			}

			&.focus {
				border: 1px dashed #CCC;

				&:hover {
					background-color: transparent;
					color: inherit;
				}

				* {
					outline: 0;
				}

			}

		}

		.field-viewer {
			width: 300px;
			background: #333;
			height: 100%;
			position: absolute;
		}

	}

	h2 {
		color: inherit;
	}
	
}


#form-inspector {
	
	position: fixed;
	width: 380px;
	right: 15px;
	top: 43px;
	height: 100%;

	#form-menu {
		position: absolute;
		left: 100px;
		top: 0;
		margin: 0;

		li {
			display: inline-block;
			margin: 0;

			a {
				text-decoration: none;
				padding: 0 7px;
				display: block;
				line-height: 32px;
				outline: none;
				border: 1px solid transparent;

				&:hover {
					border-color: inherit;
				}

			}

		}
		
	}

	> div {

		input { 
			width: 100%;
		}

	}

	h3 {
		color: #fff;
	}

	h4 {
		color: #0074a2;
		margin: 0 0 10px;
		clear: both;
	}

}

#add-fields {

	button {
		color: #fff;
		width: 150px;
		border: 1px solid #fff;
		background-color: transparent;
		outline: none;
		float: left;
		line-height: 24px;
		width: 0 20px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin: 4px;
		cursor: pointer;

		li {
			display: none;
		}

	}

}
