body.lemonbox #wpcontent {
  margin-left: 160px; }
body.lemonbox #wpwrap,
body.lemonbox #wpbody,
body.lemonbox #wpbody-content {
  background-color: #333333; }
body.lemonbox #wpbody-content {
  padding: 15px; }
  body.lemonbox #wpbody-content h2 {
    color: #fff; }
body.lemonbox #adminmenuwrap {
  height: 100%; }
body.lemonbox ul#adminmenu > li.current > a.current:after {
  border-right-color: #333333; }
body.lemonbox * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#lemonbox-menu {
  width: 100%;
  height: 60px;
  background-color: transparent; }

#lemonbox-forms {
  padding-left: 15px; }

#lemonbox-wrapper form {
  width: 400px; }

.lemonbox-fields {
  background-color: #f4f4f4;
  padding: 20px;
  width: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  .lemonbox-fields * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .lemonbox-fields > li {
    display: block;
    background-color: transparent;
    margin-left: 0 !important; }
    .lemonbox-fields > li.no-label label {
      display: none; }
    .lemonbox-fields > li span {
      display: block; }
      .lemonbox-fields > li span.callout {
        font-size: 24px; }
    .lemonbox-fields > li.credit-card input[name="card_number"] {
      width: 100%; }
    .lemonbox-fields > li .cost {
      margin: 14px 0 20px; }
    .lemonbox-fields > li.checkbox input {
      float: left;
      width: inherit;
      margin-right: 7px; }
    .lemonbox-fields > li.checkbox label {
      margin: 0; }
  .lemonbox-fields p {
    margin: 12px 0 !important;
    padding: 0; }
  .lemonbox-fields .title label {
    font-weight: 200;
    font-size: 20px !important;
    text-transform: uppercase; }
  .lemonbox-fields input,
  .lemonbox-fields select,
  .lemonbox-fields textarea {
    display: block;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    border-radius: 0;
    margin: 0 0 4px;
    color: #666;
    -webkit-appearance: none;
    -webkit-border-radius: 0px; }
    .lemonbox-fields input:focus,
    .lemonbox-fields select:focus,
    .lemonbox-fields textarea:focus {
      outline: none;
      background-color: #555;
      color: #f4f4f4; }
    .lemonbox-fields input.error,
    .lemonbox-fields select.error,
    .lemonbox-fields textarea.error {
      border: 1px solid red; }
  .lemonbox-fields button {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    background-color: #333;
    border: none;
    outline: none; }
    .lemonbox-fields button:hover {
      background-image: none;
      background-color: #555;
      color: #f4f4f4; }
  .lemonbox-fields label {
    margin: 7px 0;
    font-weight: 500;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #888; }
  .lemonbox-fields div.flex {
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21+ */
    display: box;
    display: flex; }
    .lemonbox-fields div.flex input,
    .lemonbox-fields div.flex select,
    .lemonbox-fields div.flex textarea {
      margin: 0 4px 0 0;
      -webkit-box-flex: 1;
      box-flex: 1;
      flex: 1; }
    .lemonbox-fields div.flex input:last-of-type,
    .lemonbox-fields div.flex select:last-of-type,
    .lemonbox-fields div.flex textarea:last-of-type {
      margin-right: 0; }

ul.table {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-left: 0;
  text-align: left;
  display: table;
  table-layout: fixed; }
  ul.table > ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    width: 100%;
    display: table-row; }
  ul.table li {
    vertical-align: middle;
    display: table-cell;
    background-color: #fff;
    padding: 10px 15px; }
